<?xml version="1.0"?>
<launch>
    <arg name="robot_name" default="/"/>
    <arg name="rviz"       default="true"/>
    <arg name="use_odom"   default="false"/>

    <env name="CARTOGRAPHER_USE_ODOM" value="$(arg use_odom)" />

    <arg if="$(eval arg('robot_name') == '/')"  name="frame_prefix" value="" />
    <arg unless="$(eval arg('robot_name') == '/')" name="frame_prefix" value="$(arg robot_name)/" />

    <group ns="$(arg robot_name)">
        <node name="cartographer_node" pkg="cartographer_ros"
            type="cartographer_node" args="
                -configuration_directory $(find go1_navigation_cartographer)/config/cartographer
                -configuration_basename slam.lua"
            output="screen"> 
            <!-- <remap from="odom" to="go1_controller/odom" /> -->
            <remap from="odom" to="/odometry/filtered" />
        </node>

        <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
            type="cartographer_occupancy_grid_node" args="-resolution 0.05" />

        <include file="$(find go1_navigation_cartographer)/launch/include/move_base.launch.xml">
            <arg name="frame_prefix" value="$(arg frame_prefix)"/>
            <arg name="robot_name"   value="$(arg robot_name)"/>
        </include>

        <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz" required="true"
            args="-d $(find go1_navigation_cartographer)/rviz/2d.rviz" />
    </group>
</launch>
