<?xml version="1.0"?>
<launch>
  <arg name="joy_dev" default="$(optenv GO1_JOY_DEVICE /dev/input/js0)" />
  <arg name="joystick" default="true" /> 
  <group ns="joy_teleop">
    <rosparam command="load" file="$(find go1_control)/config/teleop_logitech.yaml" />
    <param name="joy_node/dev" value="$(arg joy_dev)" />
    <node pkg="joy" type="joy_node" name="joy_node" />
    <node pkg="teleop_twist_joy" type="teleop_node" name="teleop_twist_joy"/>
  </group>
  <node pkg="twist_mux" type="twist_mux" name="twist_mux">
    <rosparam command="load" file="$(find go1_control)/config/twist_mux.yaml" />
    <remap from="cmd_vel_out" to="go1_controller/cmd_vel"/>
  </node>
  <!-- <include file="$(find go1_control)/launch/interactive_marker.launch.xml"/> -->
</launch>
