<launch>

  <!-- Declare arguments with default values -->
  <arg name="laser_scan_topic" default="/scan"/> 
  <arg name="odom_topic" default="/odom"/>
  <!-- <arg name="odom_topic" default="/odom_rf2o"/> -->
  <arg name="publish_tf" default="true"/>
  <arg name="base_frame_id" default="/base"/>
  <arg name="odom_frame_id" default="/odom"/>
  <arg name="freq" default="10.0"/>
  <arg name="init_pose_from_topic" default=""/>
  <arg name="verbose" default="false"/>

  <!-- Include RPLIDAR driver launch -->
  <include file="$(find rplidar_ros)/launch/rplidar_go1.launch"/>

  <!-- Include RF2O Laser Odometry launch -->
  <include file="$(find rf2o_laser_odometry)/launch/rf2o_laser_odometry.launch">
    <!-- Override parameters if needed -->
    <arg name="laser_scan_topic" value="$(arg laser_scan_topic)"/>
    <arg name="base_frame_id" value="$(arg base_frame_id)"/>
    <arg name="odom_frame_id" value="$(arg odom_frame_id)"/>
    <arg name="publish_tf" value="$(arg publish_tf)"/>
    <arg name="init_pose_from_topic" value="$(arg init_pose_from_topic)"/>
    <arg name="freq" value="$(arg freq)"/>
    <arg name="verbose" value="$(arg verbose)"/>
  </include>
</launch>
